<!-- register.ejs -->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Postpulse</title>
  <link rel="icon" href="/favicon/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="/favicon/favicon.ico" type="image/x-icon">






<%- include('partials/header', { currentPage: 'register' }) %>

<body class="login-page">
    <main>
      <% if (messages.success) { %>
        <div class="alert alert-success" role="alert">
          <%= messages.success %>
        </div>
      <% } %>
      
      <% if (messages.error) { %>
        <div class="alert alert-danger" role="alert">
          <i class="fas fa-exclamation-circle"></i>
          <%= messages.error %>
        </div>
      <% } %>
      
      <div class="login-block">
        <form action="/register" method="POST">
          <div class="form-group">
        <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-user ti-user"></i></span>
        <input type="text" class="form-control" id="username" name="username" required  placeholder="Username">
      </div></div>
      <hr class="hr-xs">
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-lock ti-unlock"></i></span><span></span>
        <input type="password" class="form-control" id="password" name="password" required placeholder="Choose a password">
      </div>
    </div> 
    <hr class="hr-xs">
      <button type="submit" class="btn btn-primary btn-block">Register</button><br>
<!-- GOOGLE BUTTON -->
      <!-- <button type="button" class="login-with-google-btn" href="/auth/google" role="button" >
        Sign up with Google
      </button> -->
    </form>
  </div>
</div>
</div>
<div class="login-links">
  <p class="text-center">Already have an account? <a class="txt-brand" href="/login">Login</a></p>
</div>



